.Customers{
	color: black;
	margin-left: 10px ;
	margin-right: 10px;
}

@media(min-width: 420px){
	.Customers{
		display: flex;
		flex-flow: row
	}

	.Customers h3{
		display: flex;
		box-sizing: border-box;
	}
}
