/* @media(min-width: 500px){
    .Login{
        width: 600px;
        display: flex;
        box-sizing: border-box
    }
} */

.Login{
    width: 400px;
    height: 100%;
    margin: 200px auto;
    box-sizing: border-box;
    border: 1px solid #EFF9C7;
    padding: 20px;
}

.Login label {
    width: 100px;
    margin-right: 20px;
}

.LoginButton{
    background-color: #90A738;
    color: #F8FCE6;
    padding: 100%;
    box-sizing: border-box;
    border-radius: 5px;
    margin: 2px;
}