.Login{
	color: black;
	border: 1px solid #B7C967;
	width: 360px;
	margin: 200px auto;
	box-shadow: 1px 2px #888888;
	padding: 10px;
}

.Login h3{
	margin: 5px 120px 10px 120px;
}

.Form{
	margin-left: 20px;
}

.Button{
	background-color: #8EA138;
	width: 80px;
	height: 40px;
	margin-top: 20px;
}

.Username label{
	margin-right: 10px;
	margin-bottom: 20px;

}

.Password label{
	margin-right: 13px;
}
